<head>
<meta charset="UTF-8">
</head>
	<div class="panel panel-default">
		<div class="panel-heading">Pessoa</div>
		<div class="panel-body">
			<form class="col-md-4" ng-submit="savePessoa()" name="pessoaForm">
				<div class="form-group">
					<label for="pessoaNome">Nome</label>
					<input id="pessoaNome" type="text" maxlength="50" class="form-control"
						ng-model="pessoa.nome"
						required 
						oninvalid="this.setCustomValidity('Campo obrigatório!')"
						oninput="setCustomValidity('')"
						placeholder="Pessoa Nome">
				</div>
				<div class="form-group">
					<label for="pessoaDocumento">Documento</label> 
					<input id="pessoaDocumento" type="text" maxlength="50" class="form-control"
						ng-model="pessoa.documento"
						required 
						oninvalid="this.setCustomValidity('Campo obrigatório!')"
						oninput="setCustomValidity('')"
						placeholder="Documento">
				</div>

				<div class="form-group">
					<label for="pessoaSexo">Sexo</label><br /> 
					<label> <input type="radio" ng-model="pessoa.sexo" value="M" checked> Masculino</label>
					<label> <input type="radio" ng-model="pessoa.sexo" value="F"> Feminino</label><br />
				</div>

				<div class="form-group">
					<label for="pessoaDataNascimento">Data de Nascimento</label> 
					<input id="pessoaDataNascimento" type="date" value="{{ pessoa.dataNascimento }}" class="form-control"
						ng-model="pessoa.dataNascimento"
						required
						oninvalid="this.setCustomValidity('Campo obrigatório!')"
						oninput="setCustomValidity('')">
				</div>

				<div class="form-group">
					<label for="pessoaEndereco">Endereço</label> 
					<input id="pessoaEndereco" type="text" maxlength="50" class="form-control"
						ng-model="pessoa.endereco"
						placeholder="Endereco">
				</div>

				<button id="btnSalvar" type="submit" class="btn btn-primary" ng-disabled="pessoaForm.$invalid">Salvar</button>
				<button id="btnCancelar" type="reset" class="btn btn-default" ng-disabled="pessoaForm.$pristine" ng-click="cancel(pessoa)">Cancelar</button>
				
			</form>

			<div class="table-responsive col-md-6">
				<table class="table table-striped">
					<tr>
						<th>Name</th>
						<th>Documento</th>
						<th>Sexo</th>
						<th>Data de Nascimento</th>
						<th>Endereço</th>
						<th></th>
					</tr>
					<tr ng-repeat="pessoa in pessoas">
						<td>{{pessoa.nome}}</td>
						<td>{{pessoa.documento}}</td>
						<td>{{pessoa.sexo}}</td>
						<td>{{pessoa.dataNascimento}}</td>
						<td>{{pessoa.endereco}}</td>
						<td>
							<button type="button" class="btn btn-default"
								ng-click="updatePessoaInit(pessoa)">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default"
								ng-click="deletePessoa(pessoa)">
								<span class="glyphicon glyphicon-remove-circle"
									aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
